* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header img {
  width: 25px;
  padding: 0;
}

header {
  background-color: #000;
  color: white;
  z-index: 12922303223;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 50px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h3 {
  font-size: 14px;
}

.top-btn,
.nav-link {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  list-style-type: none;
}

.link {
  font-size: 14px;
  transition: color 1s;
}

.link:hover {
  color: rgb(255, 153, 0);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu-icon,
.top-btn button {
  padding: 20px 13px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 153, 0);
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 68px;
  transform: translateX(100%);
  overflow: hidden;
  height: calc(100vh - 68px);
  right: 0;
  background-color: rgba(0, 0, 0);
  padding: 15px 0;
  transition: transform 2s;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu.hidd {
  display: block;
}

.link-mobile:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.644);
}

.link-mobile {
  list-style-type: none;
  padding: 8px 15px;
  width: 200px;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 3px;
  transition: background-color 1s;
}

.link-mobile:hover {
  background-color: rgba(255, 255, 255, 0.493);
}

.mobile-menu button {
  margin-top: 150px;
}

button {
  background-color: rgb(255, 153, 0);
  border: none;
  padding: 8px 10px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 750px) {
  header {
    padding: 0 20px;
  }

  nav,
  .top-btn > button.login {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}

/* ends pf header */

.main {
  background-image: linear-gradient(
    90deg,
    rgb(182, 180, 180),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  padding: 0 50px 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.actions {
  padding-top: 50px;
  padding-left: 20px;
  max-width: 550px;
  width: 100%;
}

.main img {
  width: 500px;
}

.actions h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.actions p {
  font-weight: 200;
  line-height: 30px;
  font-size: 20px;
  padding-bottom: 50px;
}

.main button {
  width: auto;
}

.action-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.outline-button {
  background-color: transparent;
  border: 1px solid rgb(255, 153, 0);
  color: rgb(255, 153, 0);
}

.outline-button:hover {
  background-color: rgb(255, 153, 0);
  color: #fff;
}

@media (max-width: 900px) {
  .main img {
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
    padding: 0 20px 30px;
  }

  .actions {
    padding-top: 50px;
    max-width: 550px;
    width: 100%;
  }
}
